language: android
sudo: required
jdk :
    - oraclejdk8

env :
    global:
        - ANDROID_API_LEVEL=26
        - ANDROID_BUILD_TOOLS_VERSION=27.0.3
        - ANDROID_ABI=google_apis/armeabi-v7a

before_install:
    - chmod +x gradlew
    - android list targets
    - echo no | android create avd --force -n test -t android-26 --abi google_apis/armeabi-v7a
    - emulator -avd test -no-skin -no-audio -no-window &
    - android-wait-for-emulator
    - adb shell input keyevent 82 &

before_script:
    - android-wait-for-emulator
    - abd shell input keyevent 82 &

script:
    - travis_wait 60 ./gradlew clean connectedCheck -Dorg.gradle.java.home=/usr/lib/jvm/java-8-oracle
      
android:
    components:
        - tools
        - platform-tools
        - tools
        - build-tools-27.0.3
        - android-26
        - sys-img-armeabi-v7a-addon-google_apis-google-26
        - extra-android-m2repository
        - extra
skip_cleanup: true

branches:
    only:
        - master

